{% extends "index.html" %}
{% block title %}ViewAll{% endblock %}
{% block content %}
<h1>User Database</h1>
{% if resultList|length > 0 %}
<table>
    <th>Name</th><th>Age</th><th>Username</th><th>Password</th>
    {% for user in resultList %}
        <tr>
            <td>{{ user.personname }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.password }}</td>
        </tr>
    {% endfor %}
{% else %}
<h1>No Registered Users</h1>
</table>
{% endif %}
{% endblock %}